<router-outlet></router-outlet>

<h1 style="text-align: center;">Perfil de usuario</h1>
<br>
<br>
<br>
<div style="text-align: center;">
  <h2 style="text-align: center;">Bienvenido usuario:</h2>
  <br>
  <span style="font-size: 50px;">"{{nombre}}"</span>
</div>
<br>
<br>
<br>
<div style="text-align: center;">
  <h2 style="text-align: center;">ROL:</h2>
  <br>
  <span style="font-size: 50px;">"{{rol}}"</span>
</div>

