<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #espForm="ngForm">

  <router-outlet></router-outlet>

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field>
      <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
      [formControl]="myControlPaciente" formControlName="paciente">

      <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente">
          <mat-option *ngFor="let m of pacientesFiltrados$ | async" [value]="m">
              {{ m.nombres }} {{m.apellidos}}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="fecha"
        required formControlName="fecha" [max]="maxFecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="pulso" required formControlName="pulso">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="temperatura" required formControlName="temperatura">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="ritmo respiratorio" required formControlName="ritmoRespiratorio">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="espForm.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>

    <button mat-raised-button color="accent" routerLink='/pages/signosvitales' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>

<br />

